<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>Документ</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=960">
	<!-- <link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/adjustment.css"> -->

	<!-- <link rel="stylesheet" href="css/MyJS.css"> -->
	<!-- <script src="js/modernizr.js"></script> -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>
	<!-- <img src="/images/KOS.jpg" /> -->
	<div> 1</div>
	<header>
		header
	</header>
	<nav>
		<div class="navMenu1">
			<div class="navButton">navButton</div>
		</div>

		<div class="navMenu">
			<div class="menu">b</div>
			<div class="menu">b</div>
			<div class="menu">b</div>
			<div class="menu">c</div>
			<div class="menu">a</div>
		</div>
	</nav>
	<div class="main">
		<section>
			section
			<article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, sit?</article>
			<article>impedit vel harum doloribus sint dolor labore?</article>
			<article>nisi recusandae sapiente cupiditate veritatis temporibus?</article>
		</section>

		<aside> aside
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</aside>
	</div>
	<div class="next"> div next
		<article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, sit?</article>
		<article>impedit vel harum doloribus sint dolor labore?</article>

	</div>
	<div class="next"> div next
		<nav1 class="navigation">
			<ul class="navigation__btn">
				<li class="navigation__item active">
					<a href="/" class="navigation__link">Обо мне</a>
				</li>
				<li class="navigation__item">
					<a href="/" class="navigation__link">Мои работы</a>
				</li>
				<li class="navigation__item">
					<a href="/" class="navigation__link">Связаться со мной</a>
				</li>
			</ul>
		</nav1>

	</div>
	<div class="next"> div next
		<aside class="sidebar">
			<nav1 class="navigation">
				<ul class="navigation__btn">
					<li class="navigation__item active"><a href="/" class="navigation__link">Обо мне</a></li>
	<li class="navigation__item"><a href="/" class="navigation__link">Мои работы</a></li>
					<li class="navigation__item"><a href="/" class="navigation__link">Связаться со мной</a></li>
				</ul>
			</nav1>
		</aside>

	</div>
	<div class="wrapper"></div>

	<footer>
		footer
	</footer>
	<script src="js/MyJS.js"></script>
	
</body>

</html>